@import './../Card/Card.module.scss';

.list{

    position: relative;
    height: 100%;
    gap: 0 10vw;
    display: flex;
    align-items: center;
    // width: 100;

    padding-left: 15vw;
    padding-right: 10vw;
    // margin-right: -5vw;
    
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;

    & > *{
        flex: 0 0 $card-width-horizontal;
        // margin-left: 5vw;
    }

    // &:before {
    // //    margin-left: 5vw; 
    //    content: '';
    // }

    &::-webkit-scrollbar {
        display: none;
    }
}