.list{
    position: relative;
    height: 100vh;
    gap: 0 10vw;
    display: flex;
    align-items: center;
    width: 100%;
    
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;

    & > *{
        flex: 0 0 70vw;
    }

    &:before {
       padding-left: 5vw; 
       content: '';
    }
}