@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,italic,700,700italic);

:root {
    font-size: 10px;
}

#root {
    height: 100%;

    & > *{
        height: inherit;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}