@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

:root {
  font-size: 10px;
  color: white;
}

body {
  overflow: hidden;
    scrollbar-width: thin;
    scrollbar-color: #aaa #333;
    color: #333;
    transition: color 200ms;
}

body::-webkit-scrollbar {
    width: min(6px, 1.5vw);
    box-shadow: inset 0 0 0 20px;
}

body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 3px;
}

body:hover {
    color: #010101;
}

body > * {
    color: white;
}


*,
*::after,
*::before {
  font-family: "Rubik", "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 200px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
