@import "./../../Card/Card.module.scss";

$scale-for-16-9: 1.35;
$scale-for-9-16: 3.15;

.videoContainer {
    @include fillCard;

    z-index: -2;
    overflow: hidden;
    
    border-radius: $card-border-radius;
    transition: opacity 3s ease-in;
    pointer-events: none;
}

.video {
    @include fillCard;
    height: 120%;
    transform-origin: center center;
    transform: scale($scale-for-16-9) translateY(-6.5%);
    z-index: -1;
    opacity: 1;
}

@media (max-aspect-ratio: 1 / 1) {
    .video{
        transform: scale($scale-for-9-16) translateY(-2.75%);
    }
}


.videoTransitionEnter {
    opacity: 0;
}

.videoTransitionEnterActive {
    opacity: 1;
    transition: opacicy 100ms ease-in-out;
}


.videoTransitionExit {
    opacity: 1;
}

.videoTransitionExitActive {
    opacity: 0;
    transition: opacicy 100ms ease-in-out;
}

.videoCover {
    background: none;
    display: block;
    position: absolute;
    z-index: -1;
}
