$nav-height: max(8vh, 8rem);
$input-color: rgba($color: #EEE, $alpha: 1);
$input-font-size: clamp(1.4rem, 2.5vh, 2.5rem);
$input-icon-size: calc($input-font-size * 1.4);
$submit-button-hight: calc($input-font-size * 1.6);
$submit-button-font-size: calc($input-font-size * 1.1);
$input-font: "IBM Plex Sans Thai Looped", Arial, sans-serif;

.nav {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: $nav-height;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;


    .container {
        display: flex;
        justify-content: center;
        height: calc(0.6 * $nav-height);
        width: clamp(30rem, 50vw, 100rem);
        position: relative;
        transition: transform 150ms ease-in-out;

        .searchIcon {
            z-index: 201;
            position: absolute;
            left: 1rem;
            top: calc(47.5% - $input-icon-size / 2);
            // transform: translateY(-10%);
                        
            
            height: $input-icon-size;
            width: $input-icon-size;
        }

        .submitButton {
            $submit-width: 8rem;
            $submit-padding-rigth: 0.5rem;

            position: absolute;
            right: 0.2rem;
            bottom: 0.2rem;
            top: 0.2rem;
            width: $submit-width;
            border: none;
            background: rgba($color: #EEE, $alpha: 0.9);
            border-radius: 0 25px 25px 0;
            font-weight: 400;
            padding-right: $submit-padding-rigth;
            font-size: $submit-button-font-size;
            font-family: $input-font;
            border-left: 0.1rem rgba($color: #444, $alpha: 1.0) solid;
            cursor: pointer;

            &:hover .hoverSubmitButtonAnimation {
                transform: scaleX(1);
            }

            .hoverSubmitButtonAnimation {
                $hover-width: calc(4ch - 0.5rem);

                background-color: black;
                position: absolute;
                bottom: calc(50% - $submit-button-font-size / 2 + 0.1rem);
                left: calc(($submit-width - $submit-padding-rigth) / 2 - $hover-width / 2);
                width: $hover-width;
                font-size: inherit;
                height: .1rem;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 300ms ease-in-out;

            }

            // &:hover .hoverSubmitButtonAnimation {

            // }
        }


        .input {
            font-family: $input-font;
            font-weight: 500;
            letter-spacing: 0.04rem;
            font-size: $input-font-size;
            width: 100%;
            border-radius: 50px;
            padding-left: calc(1rem + $input-icon-size);
            padding-right: 2rem;
            height: 100%;
            color: $input-color;
            background: rgba(100, 100, 100, 0.404);
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 6px );
            -webkit-backdrop-filter: blur( 6px );
            border: 2px solid rgba( 255, 255, 255, 0.18 );
            transition: border 250ms cubic-bezier(0.165, 0.84, 0.44, 1);

            &::placeholder {
                color: $input-color;
            }

            
            &::-ms-clear {  display: none; width : 0; height: 0; }
            &::-ms-reveal {  display: none; width : 0; height: 0; }
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration { display: none; }
            // &::cance
            
            &:focus{
                // background: rgba( 255, 255, 255, 0.4 );
                outline: none;
                border: 3px solid rgba( 255, 255, 255, 0.4 );
            }
        }
    
        &:hover {
            transform:scale(1.01);
        }
    }
}


